name: release-docs

env:
  project: "jdependency"

on:
  push:
    tags:
      - jdependency-*

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Version
        uses: tcurdt/action-verify-version-maven@main
        with:
          prefix: refs/tags/${{ env.project }}-
        id: version

      - name: Setup
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: 21

      - name: Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.6

      - name: Build
        run: mvn -B site

      - name: Prepare
        env:
          VERSION: ${{ steps.version.outputs.version }}
        run: |
          mkdir -p site/release/$VERSION site/xref site/apidocs
          mv target/site/xref site/release/$VERSION/xref
          mv target/site/apidocs site/release/$VERSION/apidocs
          echo "<meta http-equiv='refresh' content='0; URL=/jdependency/release/$VERSION/xref' />" > site/xref/index.html
          echo "<meta http-equiv='refresh' content='0; URL=/jdependency/release/$VERSION/apidocs' />" > site/apidocs/index.html

      - name: Publish
        uses: peaceiris/actions-gh-pages@v4.0.0
        env:
          VERSION: ${{ steps.version.outputs.version }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          keep_files: true
